
.user-detail-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 2rem;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  opacity: 0;
  animation: fadeInUp 0.8s forwards;
  margin: 0 auto;
}


.user-detail-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}


.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}


.name {
  font-weight: 700;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}


.email {
  font-size: 1rem;
  color: #777;
  margin-bottom: 1.5rem;
}


.back-text {
  color: #38bdf8;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.back-text:hover {
  color: #0ea5e9; 
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
